body {
  height: 100%;
  /* background-color: #000; */
  background: url(/pexels-background.jpg);
  background-size: cover;
  background-color: #333;
}

.button {
  background-color: red;
  padding: 20px 30px;
  border-radius: 40px;
  font-size: 32px;
  color: #000;
  font-weight: 400;
  transition: 0.5s;
  margin-top: 15px;
}

.form {
  color: #333;
  padding: 10px;
  letter-spacing: 0px;
  border-radius: 5px;
  font-weight: 600;
}

.header {
  box-sizing: border-box;
  position: fixed;
  left: 0%;
  top: 0%;
  width: 90%;
  padding: 25px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #333;
  width: 100%;
  height: 150px;
}

.pageContent {
  color: #fff;
  width: 1200px;
  margin: 150px auto 0;
}

.actormovieGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.actor {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;
  gap: 8px;
}

img {
  height: 30.5rem;
  object-fit: contain;
  border-radius: 10%;
}

.actorinfo {
  flex: 1;
  max-width: 500px;
  margin-left: 30px;
}

.actorinfo h2 {
  padding-top: 10px;
}

.actormovie img {
  width: 100%;
  border-radius: 10px;
  
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.known_for_department {
  padding-left: 1rem;
display: flex;
justify-content: end;
}

.card {
  color: #fff;
}

.hidden {
  display: none;
}
